EMAIL_ADDRESS=your email address
APP_PASSWORD=your app password
SENDER_NAME=your name 
EMAIL_SUBJECT=your email subject
TEMPLATE_FILE=email_template.html
RECIPIENTS_FILE=recipients_example.csv
# Note:
#rename the file to .env before running the script